 
<h1 align="center"> WELCOME TO HOMEPAGE </h1>
<br/><br/>
<div align="center">
<%= link_to 'Products', products_path() %>
&raquo; <%= link_to 'New Product', new_product_path() %>


<% if session[:user] == nil %>
&raquo; <%= link_to 'Register User', register_path() %>
&raquo; <%= link_to 'Sign in', login_path() %>
<% else %>
&raquo; <%= link_to "Logout", logout_path %>
<% end %>    
<!-- <% unless session[:user].nil? %>
  <%= link_to "Logout", logout_path %>
<% end %> -->

<% unless flash[:notice].nil? %>
  <h2><%= flash[:notice] %></h2>
<% end %>



</div>