<% products.each do |product|%>
    <tr id="prikaz_po_cijeni">
    <td bgcolor="#FF9966"><%= product.id %></td>
    <td><%= product.price %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td>
    <%= link_to 'Details', product_path(product) %> &bull;
    <%= link_to 'Edit', edit_product_path(product) %> &bull;
    <% if logged_in_user.admin? %>
      <%= link_to 'Delete', product_path(product), method: :delete %></td>
    <% end %>
    </tr>
    
<% end %>