<div style="padding:20px;">

<h1> Proizvodi </h1> 
<!-- <%= link_to 'Unesi novi proizvod', new_product_path() %> -->
<% unless flash[:notice].nil? %>
    <div><%= flash[:notice] %>
<% end %>

<h2> Ukupno proizvoda: <%= @products_count %></h2>

<!-- <% if @products_count > 5 %>
    <h2>Yes</h2>
<% else %>
    <h2>No</h2>
<% end %>
-->
<!-- render partial: 'share/IMEFAJLA' -->
<!-- <%= render partial: 'shared/page_heading', locals: {text: 'Products page' } %> -->
<%= render 'shared/page_heading', text: "Na listi je trenutno #{@products_count} proizvoda." %>

<style> .tblHead { background-color:#FF0000; color: #FFFFFF; font-weight:bold; } </style>

<table cellspacing="2" cellpadding="5" width="100%">
<tr widht="5%">
<td class="tblHead">ID</td>
<td class="tblHead"><%= link_to 'Price', products_path(sort: true), remote: true %></td>
<td class="tblHead">Name</td>
<td class="tblHead">Description</td>
<td class="tblHead">Actions</td></tr>
<!-- products partial templates -->
<%= render 'products', products: @products %>

<tr><td bgcolor="#FF9933"><strong>&nbsp;</strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;</strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;<strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;<strong></td>
<td bgcolor="#FF9933">&nbsp;</td></tr>
</table>

</div>