<h1> PRODUCTS PAGE </h1> 
<%= link_to 'New Product', new_product_path() %>
<br>
<% unless flash[:notice].nil? %>
    <div><%= flash[:notice] %>
<% end %>
<br><br>

<h2> Total products: <%= @products_count %></h2>

<% if @products_count > 5 %>
    <h2>Yes</h2>
<% else %>
    <h2>No</h2>
<% end %>


<h2>PRODUCT LIST</h2>



<table cellspacing="2" cellpadding="5" width="100%">
<tr widht="5%"><td bgcolor="#FF9933"><strong>ID</strong></td>
<td bgcolor="#FF9933"><strong>Price</strong></td>
<td bgcolor="#FF9933"><strong>Name<strong></td>
<td bgcolor="#FF9933"><strong>Description<strong></td>
<td bgcolor="#FF9933">Actions</td></tr>
<% @products.each do |product|%>
    <tr>
    <td bgcolor="#FF9966"><%= product.id %></td>
    <td><%= product.price %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td>
    <%= link_to 'Details', product_path(product) %> &bull;
    <%= link_to 'Edit', edit_product_path(product) %> &bull;
    <%= link_to 'Delete', product_path(product), method: :delete %></td>
    
    </tr>
    
<% end %>
<tr><td bgcolor="#FF9933"><strong>&nbsp;</strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;</strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;<strong></td>
<td bgcolor="#FF9933"><strong>&nbsp;<strong></td>
<td bgcolor="#FF9933">&nbsp;</td></tr>
</table>
