<h2> NEW Product </h2>

<%= form_for(@product) do |form| %>

<% unless @product.errors.empty? %>
    <ul style="border: 1px solid black; padding:10px;">
    <% @product.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
    </ul>
<% end %>

<!-- new_product je prefix iz rake routes -->
    <%= form.label :name %><br/>
    <%= form.text_field :name %>
    <br/><br/>
    <%= form.label :price %><br/>
    <%= form.text_field :price %>
    <br/><br/>
    <%= form.label :description %><br/>
    <%= form.text_area :description %>
    <br/><br/>
    <%= form.submit 'Dodaj proizvod' %>

<% end %>