<!DOCTYPE html>
<html>
<head>
  <title>Rusmir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
</head>
<body style="background-color:#EEEEEE; padding:0; margin:0; border:0;">

<div id="meni" style="background-color:#000; text-align:right; color:#FFF !important; padding:10px;">
<div id="title" style="font-weight:bolder; font-size:19; font-weight:700; float:left;"><span style="color:#FF0000;">ROR 387</span> - First application</div>


<style>
#meni a {color:#FFF; text-decoration:none; }
#meni a:hover { color:#FF0000; }
</style>
<% if logged_in_user %>
  [ <span style="color:yellow; font-weight:bold;"><%= logged_in_user.username %></span> ] &bull;
<%= link_to "Početna", root_path %> &bull;
<%= link_to 'Proizvodi', products_path() %> &bull;
<%= link_to 'Narudžbe', orders_path() %> &bull; &bull; &bull;
<%= link_to 'Dodaj proizvod', new_product_path() %> &bull;
<%= link_to 'Nova narudžba', new_order_path() %> &bull;
 
 <%= link_to logout_path do %>
 <%= image_tag 'logout.png', size: '16x16' %>
 <% end %>
 
 <% else %>
<%= link_to "Prijava", login_path %>
&bull;
<%= link_to "Registracija", register_path %>
<% end %>
</div>

<%= yield %>

</body>
</html>
